.circle{
    background: aqua;
    border: 2px solid black;
    line-height: 50px;
    height: 80px;
    width: 80px;
    padding: 0;
    text-align: center;
}

.row ::after{
    clear: both;
    content: '';
    display: table;
}
